h2{
  text-align:right;
}
h1{
  text-align: center;
}
#m1,#m2,#m3{
  width:auto;
  height:auto;
  border:solid black;
  padding: 0px 10px 0px 10px;
  float: right;
}
#m1{
  background-color: pink;
}
#m2{
  background-color: red;
}
#m3{
  background-color: yellow;
}
@media (min-width:992px){
  /* Create three equal columns that floats next to each other */
  .c1,.c2,.c3{
    float: left;
    width: 30%;
    margin:1%;
      height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
     background-color:grey;/* Should be removed. Only for demonstration */
  }



}
@media (min-width:768px) and (max-width:991px){
  /* Create three equal columns that floats next to each other */
  .c1,.c2{
    float: left;
    width: 48%;
    margin:1%;
    height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color:grey;/* Should be removed. Only for demonstration */
  }
  .c3{
    float: left;
    width: 99%;
    margin:1%;
    height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color:grey;/* Should be removed. Only for demonstration */
  }



}
@media  (max-width:767px){
  /* Create three equal columns that floats next to each other */
  .c1,.c2,.c3{
    float: left;
    width: 99%;
    margin:1%;
    height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color:grey;/* Should be removed. Only for demonstration */
  }




}
